.body {
    font-family: Nunito;
    background-color: black;
    background-image: url('../img/back-menuCentroDonadores.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: #0D215E;
    width: 50%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoUser {
    text-align: center;
    color: white;
    font-size: 30px;
    height: 45%;
}

.infoUser p {
    margin: 10px;
    font-weight: bold;
}

.cardInfo {
    background-color: #1E5FCE;
    border-radius: 5px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.cardInfo p {
    color: white;
    font-size: 20px;
    width: 80%;
}

.button {
    background-color: #1E5FCE;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 20px;
    font-size:20px;
    padding:10px 50px;
}

.buttonCancel{
    background-color:black;
    border-radius:5px;
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    margin: 20px;

}
