
.infoConteiner{
    background-color: #0D215E;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:10px 0;
    border-radius: 5px;
}

.buttonSend , .buttonCancel{
    background-color:#1E8CD8;
    border-radius:5px;
    color: white;
    text-decoration: none;
    padding: 10px 50px;
}

